{% load staticfiles %}

<link rel='stylesheet' type='text/css' href="{% static 'style.css' %}" />

{% include 'header.html' %}

<div class="content">
    <div class="lore subcontent">
        <h1 align="center">Lore</h1>
        <p>
            Little of history is known or remembered, with the majority of the libraries' scrolls lost long ago. Before the
            great fracture it is said that there were few conflicts, a land of little change and of great castles.
            A simple world and peaceful land.
        </p>

        <h2>The First Fracture</h2>
        <p>
            From the first great fracture spewed magic, changing the land and people.
            From this great beasts were born into the world and many of the people of the land were transformed into beings
            that were no longer human. Elves, fair beings with a great interest in nature and peace. Dwarves, stout and hard
            headed, dwelling in the mountains. Orcs, a feral bunch of tribal beasts ruled by their honor. The fauna,
            men melded with all manner of  creatures making something between the two. Each race competed for land and power
            over the others. This continued for centuries until the people were forced to unite for survival as the second fracture
            occurred.
        </p>

        <h2>The Second Fracture</h2>
        <p>
            Rifts tore open throughout the land and terror followed. Thousands of people disappeared that day,
            assumed to have been sent through rifts themselves. What little was left of the armies fought to keep the
            creatures pouring from the rifts at bay and save people that came through, but to little avail.
            Each generation, the population became smaller and, with little government established the territory to be
            protected shrank with it. With travel so dangerous contact has long been lost between the different holds.
        </p>

        <h2>Divine Intervention</h2>
        <p>
            Descending, from the heavens themselves it seemed, came the Divine. The Knight was a great warrior capable of
            fantastic feats that turned the tides of battle. The Maiden healed the sick and sheltered the weak. The
            Scribe taught how to use magic and founded the academy of magic. Lastly was the Sullen, who was known by a
            different name. He sealed the rifts, to the great praise of the people. With the realm protected, the Divine
            left never to return, with the exception of the Sullen. Swollen with pride from his praise the Sullen gave
            a great and taboo gift of knowledge: the manipulation of souls.
            This is a power not fit for mortals, and for his insolence he was cast down from grace to walk among mortals.
        </p>

        <h2>The Third Fracture</h2>
        <p>
            As the Sullen fell a third fracture happened, changing the very nature of souls. Now in us all resides a soul fractured
            into 7 pieces. Now those that die are reconstructed and reborn at a rift reopened without the Sullen's power with
            a fraction of their soul missing, eventually becoming hollow beings without a soul in their body and no memory
            of themselves.
        </p>
    </div>
</div>